<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>Historique</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-bg">
    <ion-header collapse="condense" class="ion-no-border">
        <ion-toolbar>
            <ion-title size="large">Historique</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
        <div class="empty-state">
            <ion-icon name="stats-chart-outline"></ion-icon>
            <p>L'historique détaillé de votre suivi sera bientôt disponible ici.</p>
        </div>
    </div>
</ion-content>