.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: var(--ion-color-medium);
    text-align: center;

    ion-icon {
        font-size: 64px;
        margin-bottom: 16px;
        opacity: 0.5;
    }

    p {
        font-size: 1.1rem;
        max-width: 80%;
    }
}