<ion-tabs>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="tab1">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Traitements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>Crises</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" (click)="notImplemented()">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" (click)="notImplemented()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>